POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=proctoring_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGODB_URI=mongodb:mongodb://127.0.0.1:27017/proctoring_db
REDIS_URL=redis://127.0.0.1:6379
